body {
    background-color: bisque;
    color: rgb(49, 75, 75);
    text-align: center
    
   
    
}
.flexCon {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.indexImg {
    height: 12em;
}
li {
    font-size: 2em;
    padding: .5em 0 .5em 0;
    text-align: center;
}
ul {
    list-style-type: none;
}

img {
    border-radius: 50%;
    
    
}

