<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Music homepage</title>
</head>
<body>
 <nav>
   <a href="/music/new">Add Music</a>
 </nav>
  <h2>Music tracker</h2>

  <% for(let i = 0; i< music.length; i++) {%>
    <img src="<%=music[i].coverImg%>" alt="" srcset="">
    <h3>Artist: <%=music[i].artist%></h3>
    <ul>
      <li>
        Album: <%=music[i].album%>
      </li>
    </ul>
  <% } %>
  

</body>
</html>