<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%=album.artist%></title>
</head>
<body>
  <nav><a href="/music">Home</a></nav>
  <img src="<%=album.coverImg%>" alt="">
  <h1>Artist - <%=album.artist%></h1>
  <h2>album - <%=album.album%></h2>

  
</body>
</html>